<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="Env" value="Debug"/>
  <variable name="Proj" value="Abpro.Integration.Tests"/>
  <targets>
    <target name="file2elk"
           xsi:type="File"
           layout="[${date:format=dd/MMM/yyyy\:HH\:mm\:ss zz00:culture=en}] [${Env}] [${Proj}] [${level}] [${logger}] MSG[${message}]MSG EX[${exception:format=toString}]EX"
           fileName="d://logs/elk/${Env}.${Proj}.${date:format=yyyyMMdd}.log"
           keepFileOpen="false"
           encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file2elk" />
  </rules>
</nlog>
